$background: #FAFBFF;

body{
    background-color: $background;
    .card{
        background-color: white;
        margin: 70px auto;
        display: flex;
        flex-direction: column;
        max-width: 350px;
        border-radius: 8px;
        box-shadow: rgba(70, 70, 70, 0.2) 0px 3px 1px -2px, rgba(70, 70, 70, 0.14) 0px 2px 2px 0px, rgba(70, 70, 70, 0.12) 0px 1px 5px 0px;
    }
    .gifContainer{
        display: flex;
        img{
            height: 180px;
            margin: 0 auto;
        }
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}